@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

*:focus {
  outline-style: none; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-size: 2rem;
  font-family: 'Lato', sans-serif; }

* {
  box-sizing: inherit; }
  *:before, *:after {
    box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  background: #f6f8ff; }

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
  text-align: center; }

.gridMain {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 90vh;
  max-height: 90vh;
  margin: auto; }
  @media screen and (orientation: portrait) {
    .gridMain {
      width: 90vw;
      max-height: 90vw;
      margin: 10px auto; } }

.gridField {
  min-width: 5px;
  min-height: 5px;
  border: 1px solid #d3d3d3;
  flex: 1; }
  .gridField__container {
    display: flex;
    align-items: stretch;
    flex: 1; }

.options__container {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.2); }
  .options__container button {
    background-color: #707070;
    border: none;
    border-radius: 50px;
    color: #fff;
    padding: 5px 10px;
    height: 100%; }
    .options__container button:hover {
      cursor: pointer;
      border: none; }
  .options__container label {
    font-size: 18px;
    font-weight: 400;
    padding-right: 10px; }
  .options__container input {
    height: 100%;
    border-radius: 50px;
    border: 1px solid #d3d3d3;
    min-width: 70px;
    text-align: center; }
    .options__container input::-webkit-color-swatch {
      border-radius: 50px;
      height: 100%;
      padding: 0; }
    .options__container input::-webkit-color-swatch-wrapper {
      border-radius: 50px;
      height: 100%;
      padding: 0; }

.options__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px;
  min-height: 34px; }

.switch {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 62px;
  height: 32px;
  display: inline-block;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #707070;
  transition: background-color ease 0.3s; }
  .switch:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 2;
    width: 28px;
    height: 28px;
    background: #fff;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s; }
  .switch:checked {
    background-color: #4CD964; }
    .switch:checked:before {
      left: 38px; }
