@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

*:focus {
  outline-style: none; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 2rem; }

body {
  background: #f6f8ff; }

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
  text-align: center; }

.gridMain {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 10px;
  max-height: 90vh;
  width: 90vh; }
  @media screen and (orientation: portrait) {
    .gridMain {
      margin: 10px auto;
      max-height: 90vw;
      width: 90vw; } }

.gridField {
  border: 1px solid #d3d3d3;
  flex: 1;
  min-height: 5px;
  min-width: 5px; }
  .gridField__container {
    align-items: stretch;
    display: flex;
    flex: 1; }

.options__container {
  background-color: #fff;
  box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px; }
  .options__container button {
    background-color: #707070;
    border: none;
    border-radius: 50px;
    color: #fff;
    height: 100%;
    padding: 5px 10px; }
    .options__container button:hover {
      border: none;
      cursor: pointer; }
  .options__container label {
    font-size: 18px;
    font-weight: 400;
    padding-right: 10px; }
  .options__container input {
    border: 1px solid #d3d3d3;
    border-radius: 50px;
    height: 100%;
    min-width: 70px;
    text-align: center; }
    .options__container input::-webkit-color-swatch {
      border-radius: 50px;
      height: 100%;
      padding: 0; }
    .options__container input::-webkit-color-swatch-wrapper {
      border-radius: 50px;
      height: 100%;
      padding: 0; }

.options__box {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 5px;
  min-height: 34px; }

.switch {
  appearance: none;
  background-color: #707070;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  height: 32px;
  -moz-appearance: none;
  outline: none;
  overflow: hidden;
  position: relative;
  transition: background-color ease 0.3s;
  -webkit-appearance: none;
  width: 62px; }
  .switch:before {
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    content: "";
    display: block;
    height: 28px;
    left: 2px;
    position: absolute;
    top: 2px;
    transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
    width: 28px;
    z-index: 2; }
  .switch:checked {
    background-color: #4cd964; }
    .switch:checked:before {
      left: calc(100% - 29px); }

.popup {
  background: rgba(0, 0, 0, 0.75);
  display: none;
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 2; }
  .popup__btn-close {
    background-color: #707070;
    border: none;
    border-radius: 50px;
    color: #fff;
    height: 100%;
    padding: 5px 10px;
    text-decoration: none; }
    .popup__btn-close:hover {
      border: none;
      cursor: pointer; }
  .popup__content {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0px 2px 6px black;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 100px;
    max-width: 350px;
    padding: 15px;
    position: relative;
    width: 100%; }
    @media screen and (max-width: 1024px) {
      .popup__content {
        width: 90%; } }
    .popup__content > * {
      margin: 15px 10px; }
