* {
    box-sizing: inherit;

    &:before,
    &:after {
        box-sizing: inherit;
    }
}

html {
    box-sizing: border-box;
}
body {
    background: #f6f8ff;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
}

.gridMain {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 90vh;
    max-height: 90vh;
    margin: auto;
    @media screen and (orientation: portrait) {
        width: 90vw;
        max-height: 90vw;
        margin: 10px auto;
    }
}
