body {
    background: $main-background;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
}

.gridMain {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 10px;
    max-height: 90vh;
    width: 90vh;

    @media screen and (orientation: portrait) {
        margin: 10px auto;
        max-height: 90vw;
        width: 90vw;
    }
}
