.gridField {
    min-width: 5px;
    min-height: 5px;
    border: 1px solid $color-grey-light-1;
    flex: 1;

    &__container {
        display: flex;
        align-items: stretch;
        flex: 1;
    }
}